<h2>L'événement touched n'est pas géré</h2>

<p>Si on effectue un blur sur l'input interne du composant datepicker, l'événement "TouchedChangeEvent"
    des FormControl n'est pas envoyé. C'est problématique si l'on souhaite afficher une erreur uniquement
    si le champ a été touché par l'utilisateur.
</p>
<p>
    Il faudrait appeler la callback fournie par ControlValueAccessor lors du blur sur l'input et <b>lorsqu'on ferme la modale du datepicker</b>.
</p>


<dsfr-accordion heading="Reproductibilité de l'erreur">
    <p>Cliquer dans le champ puis hors du champ : aucun événement envoyé.</p>

    <div>touched={{control1.touched}}</div>
    <dsfr-ext-datepicker [formControl]="control1"/>
</dsfr-accordion>
<dsfr-accordion heading="Workarround temporaire utilisé">
    <p>
        Nous contournons actuellement cette lacune (cf. code source de DatepickerTouchComponent)<br/>
        Refaire les mêmes actions : on constate l'envoi de l'événement.
    </p>

    <dsfr-button label="Mark as untouched" (click)="markAsUntouchedCtrl2()" [disabled]="control2.untouched"/>
    <div>touched={{control2.touched}}</div>
    <dsfr-ext-datepicker [formControl]="control2" #datepicker2/>
</dsfr-accordion>